[Desktop Entry]
Encoding=UTF-8
Name=Diffuse Merge Tool
Comment=Graphical tool for merging and comparing text files
Exec=diffuse
Icon=diffuse
Terminal=false
Type=Application
Categories=Development;
